APP_HOST=127.0.0.1
APP_PORT=9000
# Binance API credentials (use testnet credentials for testing)
BINANCE_ENV=testnet
BINANCE_API_KEY=your_binance_api_key
BINANCE_API_SECRET=your_binance_api_secret
# Crypto.com configurations
CRYPTO_COM_ENV=testnet
CRYPTO_COM_API_KEY=your_crypto_com_api_key
CRYPTO_COM_API_SECRET=your_crypto_com_api_secret
CRYPTO_COM_API_URL=https://uat-api.3ona.co/exchange/v1/
# Log
RUST_LOG=info